@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color: #345576;
  --background-color: #a3a8ab;
  --light-color: #E5E7E9;
}

body {
  font-family: "Poppin", sans-serif;
  background-color: #E5E7E9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER*/
.contenedor-header {
  background-color: #345576;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  color: #E5E7E9;
}

.soporte-cliente {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.soporte-cliente img {
  width: 3rem;
  padding: 0 0.5rem;
}

.contenedor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}

.contenedor-logo img {
  width: 10%;
}

.contenedor-logo h1 a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.contenedor-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-user img {
  width: 3rem;
  padding-right: 1rem;
  justify-content: space-between;
}

.contenedor-user2 {
  display: flex;
  justify-content: left;
  align-items: start;
}

.contenedor-user2 img {
  width: 3rem;
  padding-right: 1rem;
  justify-content: space-between;
}

/*NAVBAR*/
.contenedor-navbar {
  display: grid;
  background-color: #E5E7E9;
  background: linear-gradient(#345576, #E5E7E9);
  border-bottom: 1px solid #a3a8ab;
}

.contenedor-navbar2 {
  display: grid;
  background-color: #E5E7E9;
  background: linear-gradient(#E5E7E9, #345576);
  border-top: 1px solid #a3a8ab;
}

.menu-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28rem;
}

.menu-navbar li {
  list-style: none;
}

.menu-navbar li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/*****MAIN*****/
.main {
  background-color: white;
  padding-bottom: 2rem;
}

/*FOOTER*/
.contenedor-footer {
  background-color: #345576;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 8rem;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

.newsletter h4 {
  font-size: 1.4rem;
  margin: 0;
}

.newsletter input {
  background: none;
  color: black;
  border: none;
  border-bottom: 2px solid #E5E7E9;
  padding: 0.5rem 0rem 0.5rem;
  font-size: medium;
}

.newsletter input::-moz-placeholder {
  color: #a3a8ab;
}

.newsletter input::placeholder {
  color: #a3a8ab;
}

.newsletter button {
  margin: 1rem 0;
  border: none;
  border-radius: 1rem;
  background-color: #E5E7E9;
  cursor: pointer;
  font-weight: 400;
  font-size: medium;
  padding: 0.5rem 4rem;
}

.acerca {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acerca li {
  list-style: none;
  padding: 0;
}

.acerca li a {
  color: black;
  text-decoration: none;
  font-size: small;
}

.acerca h4 {
  font-size: 1.5rem;
  margin: 0;
  margin-left: 4.5rem;
}

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 0 10rem;
}

.mapa iframe {
  border-radius: 10rem;
  width: 16rem;
  height: 12rem;
  padding-top: 0rem;
  margin: 0;
}

/*Copyright*/
.copyright {
  border-top: 1px solid black;
  justify-content: space-between;
  display: flex;
  background-color: #345576;
  align-items: center;
  padding: 0rem 8rem;
}

/*Login*/
.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.title-form {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
  margin-bottom: 2rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.form-inputs p {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.form-inputs input {
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  cursor: pointer;
  padding: 0 1.2rem;
  color: var(--dark-color);
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
}

.form-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me p {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

.forgot-password {
  display: flex;
}

.forgot-password a {
  text-decoration: underline;
  color: black;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}

.form-button button {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  font-weight: 600;
}

.form-button button:hover {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.form-register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}

.form-register p {
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1rem;
}

.form-register a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: underline;
  color: var(--background-color);
}

.fondos {
  background-color: #345576;
}/*# sourceMappingURL=actualizar.css.map */